*, *::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  .header {
    background: #212529;
    color: #FAFDFF;
    padding: 1em;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 70px;
  }
  .l-container{
    background: #f0f0f0;
    position: relative;
    top: 70px;
  }
  .l-grid{
    width: 100%;
    max-width: 1344px;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
  }
  .container-detalle{
      padding: 1em;
      display: flex;
      flex-direction: column;
  }
  .card {
    background: #FAFDFF;
    border-radius: 15px;
    padding: 1em;
  }
  .container span{
      font-weight: bold;
      margin-right: .3em;
  }
  .link {
      display: inline-block;
    color: #007BDF;
    text-decoration: none;
    margin: .5em 0;
  }